html, body {
    width: auto;
    height: auto;
    bottom: 0;
    top: 0;
    margin: 0; 
}










/* NAVIGATION BAR */
.navBar{
    width:100%;
    height: 65px;
    position: fixed;
    background-color: navy;
}

.navItem{
    float: right;
    margin: 10px;
    display: flex;
    box-sizing: border-box;  
}

.navItem a {
    color: white;  
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;  
    font-size: 17px;
}         
.navItem a:hover,
.navItem a:active,
.navItem a:active {
    color: orangered;
}
   









/* BACKDROP */
.backdrop {
    background-position: center;
    width: auto;
    height: auto;
    padding-top: 125px;
    padding-bottom: 250px;
    background:
    linear-gradient(
        rgb(0, 0, 0), 
        rgba(75, 75, 75, 0.468),
        rgb(0, 0, 0)
      ), url('../images/NotreDame.jpg');
    background-size: 100%; 
    background-repeat: no-repeat;
}










/* FORM */
.formHeader{
    width: 600px;
    height: 50px;
    margin: auto;
    padding: 10px;
    background: navy;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.formHeader h2 {
    color: white;
    text-align: center;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .formHeader{
        width: auto;
        height: 50px;
        margin: auto;
        background-color: navy;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}



.formbox {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 10px;
    overflow: auto;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .formbox{
        width: auto;
        height: auto;
        margin: auto;
        overflow: auto;
        padding: 10px;
        background-color: white;
        overflow: scroll;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}



.nameLabel {
    display: inline-block;
    margin: 2px;
}
.name {
    width: 87.89%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .nameLabel {
        display: inline-block;
        margin: 2px;
    }
    .name {
        width: 95%;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.emailLabel {
    display: inline-block;
    margin: 2px;
}
.email {
    width: 47.6%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .emailLabel {
        display: inline-block;
        margin: 2px;
    }
    .email {
        width: 95%;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.phoneLabel {
    display: inline-block;
    margin: 2px;
}
.phone {
    width: 27.22%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .phoneLabel {
        display: inline-block;
        margin: 2px;
    }
    .phone {
        width: 95%;
        margin: 2px;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.streetLabel {
    display: inline-block;
    margin: 2px;
}
.street {
    width: 20%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .streetLabel {
        display: inline-block;
        margin: 2px;
    }
    .street {
        width: 95%;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.cityLabel {
    display: inline-block;
    margin: 2px;
}
.city {
    width: 16.7%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .cityLabel {
        display: inline-block;
        margin: 2px;
    }
    .city {
        width: 95%;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.stateLabel {
    display: inline-block;
    margin: 2px;
}
.state {
    width: 8%;
    height: 35px;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .stateLabel {
        display: inline-block;
        margin: 2px;
    }
    .state {
        width: 100%;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.zipcodeLabel {
    display: inline-block;
    margin: 2px;
}
.zipcode {
    width: 14.15%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .sipcodeLabel {
        display: inline-block;
        margin: 2px;
    }
    .zipcode {
        width: 95%;
        margin: 2px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.organizationLabel {
    display: inline-block;
    margin: 2px;
}
.organization{
    width: 40%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .organizationLabel {
        display: inline-block;
        margin: 2px;
    }
    .organization {
        width: 95%;
        margin: 2px;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.sportLabel {
    display: inline-block;
    margin: 2px;
}
.sport {
    width: 28.2%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .sportLabel {
        display: inline-block;
        margin: 2px;
    }
    .sport {
        width: 95%;
        margin: 2px;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.colorsLabel {
    display: inline-block;
    margin: 2px;
}
.colors{
    width: 40.3%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .colorsLabel {
        display: inline-block;
        margin: 2px;
    }
    .colors {
        width: 95%;
        margin: 2px;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.helmetLabel {
    display: inline-block;
    margin: 2px;
}
.helmet {
    width: 19.3%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .helmetLabel {
        display: inline-block;
        margin: 2px;
    }
    .helmet {
        width: 95%;
        margin: 2px;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.websiteLabel {
    display: inline-block;
    margin: 2px;
}
.website {
    width: 85.73%;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .websiteLabel {
        display: inline-block;
        margin: 2px;
    }
    .website {
        width: 95%;
        margin: 2px;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}



.instructionsLabel {
    display: inline-block;
    margin: 2px;
}
.instructions {
    width: 95.5%;
    height: 50px;
    margin: 2px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 100px) {
    .instructionsLabel {
        display: inline-block;
        margin: 2px;
    }
    .instructions {
        width: 95%;
        margin: 2px;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }
}


.submitButton {
    margin: 10px 2px 5px 10px;
    height: 30px;
    border-radius: 5px;
    width: 80px;
    float: right;
    background-color:orangered;
    color: white;
}
.submitButton:hover {
    height: 30px;
    border-radius: 5px;
    width: 80px;
    float: right;
    background-color:orange;
    color: white;
}










/* FOOTER */
.footer {
    bottom: 0;
    width: 100%;
    height: 300px;
    background: navy; 
}

.footercontainer {
    width: 50%;
    height: 300px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

.footerlogo {
    width: auto;
    height: auto; 
    margin: auto;
    display: block;
}

.footercontainer p {
    padding-top: 10px;
    width: auto;
    margin: auto;
    text-align:center;
    color: white;
}